{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Inserir Jogos</title>
    {% bootstrap_css %}
</head>
<body>
     <div class="container">
         <h1>JOGOS</h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'adiciona_jogo' %}" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
                Adicionar
            </button>
    <script type="text/javascript">
function index()
{
location.href="{% url 'index' %}"
}
</script>

<input type="button" class="btn btn-primary" value="Voltar" onClick="index()">

        {% endbuttons %}
    </form>
     </div>
     {% bootstrap_javascript jquery='full' %}
</body>
</html>